
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Open BM</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/styles/app.css"/>
</head>
<body>
  <nav>
  <div class="navlink"><a href="/app">App</a></div>
  <div class="navlink"><a href="/logout">Log out</a></div>
  <div class='navlink'><a href='/about'>About</a></div>
  </nav>
  <section id="references">
    <h1>References</h1>
  
    <a target="_blank" href="https://icons8.com/icon/2969/settings">Gear</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/15810/expand-arrow">Expand Arrow</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/3220/plus">Plus</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    
  </section>

  <section id="content">

  </section>

  <section id="popup" class="hidden">

  </section>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/app.bundle.js"></script>
</body>
</html>