<html lang='en'>
<head>
  <meta charset='utf-8'/>
  <title>Open BM</title>
  <link rel='preconnect' href='https://fonts.googleapis.com'>
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
  <link href='https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap' rel='stylesheet'>

  <link rel='shortcut icon' href='/assets/img/favicon.png'/>
  <link rel='stylesheet' type='text/css' href='/assets/styles/default.css'/>
  <link rel='stylesheet' type='text/css' href='/assets/styles/account.css'/>
</head>
<body>
  <nav>
    <div class='navlink' id='home'><a href='/app'>Open BM</a></div>
  <div class='navlink' id='logout'><a href='/logout'>Log out</a></div>
  <div class='navlink' id='about'><a href='/about'>About</a></div>
  </nav>
  <section id='content'>

  </section>

  <section id='account-form-popup' class='hidden'>

  </section>
  <script src='/assets/account.bundle.js'></script>
</body>
</html>