:root {
    --bgcolor-dark: #181c1f;
    --bgcolor-neutral: #1f2529;
    --bgcolor-light: #2d333b;
    --primary-light: #34c383;
    --primary-dark: #23885b;
    --primary-dark-trans: #23885a40;
    --color: #ffffff;
    --color-dark: #c4c4c4;
    --color-trans: #ffffff40;
    --color-error: #e02664;

    --nav-height: 50px;
    --sidebar-width: 300px;
}

html {
    font-size: 16px;
    background-color: var(--bgcolor-dark);
}

body {
    /* background-color: var(--bgcolor-light); */
    margin: 0;
    color: var(--color);
    font-family: "Noto Sans", sans-serif;
}

div {
    margin: 0;
}

p {
    margin: 0px;
}


/***************        forms            ********************/

input[type='text'], input[type='password'] {
    padding: 10px 10px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: var(--bgcolor-neutral);
    color: white;
    border: none;
    border-color: white;
    border-radius: 5px;
    font-size: 1rem;
    /* outline: none; */
}

input[type='text']:focus, input[type='password']:focus {
    outline: solid white 1px;
}

input[type='text'].light-theme, input[type='password'].light-theme {
    background-color: var(--color-dark);
    color: var(--bgcolor-neutral);
}

input[type='text']:focus.light-theme, input[type='password']:focus.light-theme {
    outline: solid var(--bgcolor-neutral) 1px;
}

.form-submit {
    display: block;
    text-align: center;
    margin: 10px auto 0px;
    padding: 10px 20px;
    border-radius: 2em;
    background-color: rgb(25, 203, 150);
    color: white;
    border-color: transparent;
    transition: background-color 0.2s;
}

.form-submit:hover {
    cursor: pointer;
    background-color: rgb(20, 156, 115);
}

button {
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: var(--primary-dark);
    color: white;
    border-color: transparent;
    transition: background-color 0.2s;
}

button:hover {
    cursor: pointer;
    background-color: var(--primary-light);
}

/**********************         general styles            **************/

/* change to bg-dark to match variable names */
.bg-light {
    background-color: var(--bgcolor-light);
    color: var(--bgcolor-light);
    border-color: var(--bgcolor-light);
}

.ghost {
    color: var(--color);
    filter:opacity(0.25);
    user-select: none;
}

.center {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.error-message {
    color: var(--color-error);
}

/**********************      nav bar      *******************/

nav {
    background-color: var(--bgcolor-dark);
    height: var(--nav-height);
    display: flex;
    color: var(--color);
    /* justify-content: flex-end; */

    font-size: 1.2rem;
}

.navlink {
    position: relative;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navlink a {
    color: var(--color);
    display: inline-block;
}

.navlink#home {
    margin-right: auto;
}

.navlink#home>a {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navlink#home>a::before {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 10px;
    background-image: url('/assets/img/favicon.png');
    background-size: contain;
    image-rendering: pixelated;
    /* background- */
    content: '';
}



#side-bar {
    min-width: var(--sidebar-width);
    height: 100%;
    background-color: var(--bgcolor-dark);
    display: flex;
    flex-direction: column;
    /* border-top-right-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
}

/**********************                side bar               ***********************/

#side-bar ul {
    padding: 5px;
}

#side-bar li {
    list-style-type: none;
    padding: 8px 10px;
}

#side-bar li:hover {
    background-color: var(--primary-dark-trans);
    border-radius: 10px;
    cursor: pointer;
}

#side-bar li.selected:hover {
    background-color: var(--primary-light);
}

#side-bar li.selected {
    list-style-type: none;
    background-color: var(--primary-dark);
    border-radius: 10px;
}